<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Warehouse</title>
</head>
<body>
<form action="/my_app/put_data" method="POST">
   <h2>Create warehouse Entry</h2>
   <p>Insert product data</p>
   Insert Product Id: <input name="p_id" id="p_id" type="text"> <br>
   Insert Product Name: <input name="p_name" id="p_name" type="text"> <br>
   Insert Product Brand: <input name="p_brand" id="p_brand" type="text"> <br>
   Insert Product Category: <input name="p_cat" id="p_cat" type="text"> <br>
   Insert Product Price: <input name="p_price" id="p_price" type="text"> <br>
   <input type="submit" name="Insert Data">INSERT WAREHOUSE DATA</input>
</form>
</body>
</html>